<div class="row vh-100 d-flex justify-content-center align-items-center">
  <div class="col text-center">
    <h1 class="text-white">YelpCamp</h1>
    <h3 class="text-white">Welcome To YelpCamp!</h3>
    <p class="text-white mb-3" style="max-width: 900px; margin: auto">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, natus.
      <br />
      Iure ea voluptate aliquid nesciunt excepturi corrupti officia magni
      explicabo
    </p>
    <button
      class="mt-2 text-white"
      mat-raised-button
      type="submit"
      style="background-color: #ff4723"
      [routerLink]="['/campgrounds']"
    >
      View Campgrounds
    </button>
  </div>
</div>
